<a class="card"{% if idx >= cardLimit %} data-hidden{% endif %} href="{{ item.url | url }}"{% if item.slug == 'vibe-code-racer' %} id="card-viberacer"{% endif %}>
  {% if item.image %}
  <div class="card-preview card-preview--img" style="background-image: url('{{ item.image | url }}')"></div>
  {% else %}
  <div class="card-preview {{ item.preview }}"></div>
  {% endif %}
  <div class="card-info">
    <div class="card-date">{{ item.date | readableDate }}</div>
    <h2>{{ item.title }}</h2>
    <p>{{ item.description }}</p>
    {%- for tag in item.tags %}
    <span class="tag{% if item.tagTypes[loop.index0] %} tag--{{ item.tagTypes[loop.index0] }}{% endif %}">{{ tag }}</span>
    {%- endfor %}
  </div>
</a>
